---
- name: Create links in GNS3 project based on JSON file
  hosts: localhost
  gather_facts: no
  vars:
    gns3_server: "http://127.0.0.1:3080"
    project_name: "Final_Testing"
    
  tasks:
    - name: Get all projects from GNS3
      uri:
        url: "{{ gns3_server }}/v2/projects"
        method: GET
        return_content: yes
      register: gns3_projects

    - name: Set project ID based on project name
      set_fact:
        project_id: "{{ (gns3_projects.json | selectattr('name', 'equalto', project_name) | list)[0].project_id }}"
      when: gns3_projects.json | selectattr('name', 'equalto', project_name) | list | length > 0
      
    - name: Check if the project is opened
      uri:
        url: "{{ gns3_server }}/v2/projects/{{ project_id }}"
        method: GET
        return_content: yes
      register: project_status

    - name: Open the project if it is not already opened
      uri:
        url: "{{ gns3_server }}/v2/projects/{{ project_id }}/open"
        method: POST
        return_content: yes
        status_code: [200, 201]
      when: project_status.json.status != "opened"
      
    - name: Retrieve device node IDs from the GNS3 project
      uri:
        url: "{{ gns3_server }}/v2/projects/{{ project_id }}/nodes"
        method: GET
        return_content: yes
      register: gns3_nodes
    
    - name: Create link from S4128F-ONFrontView94 to S5212F-ONFrontView(ACPower)72
      vars:
        device_map: "{{ gns3_nodes.json | items2dict(key_name='name', value_name='node_id') }}"
      uri:
        url: "{{ gns3_server }}/v2/projects/{{ project_id }}/links"
        method: POST
        body_format: json
        headers:
          Content-Type: application/json
        status_code: [200, 201]
        body:
          nodes:
          - node_id: "{{ device_map['S4128F-ONFrontView94'] | default('') }}"
            adapter_number: 0
            port_number: 0
          - node_id: "{{ device_map['S5212F-ONFrontView(ACPower)72'] | default('') }}"
            adapter_number: 0
            port_number: 0
        
    - name: Create link from N3248TE-ONFrontView88 to S5224F-ONFrontView75
      vars:
        device_map: "{{ gns3_nodes.json | items2dict(key_name='name', value_name='node_id') }}"
      uri:
        url: "{{ gns3_server }}/v2/projects/{{ project_id }}/links"
        method: POST
        body_format: json
        headers:
          Content-Type: application/json
        status_code: [200, 201]
        body:
          nodes:
          - node_id: "{{ device_map['N3248TE-ONFrontView88'] | default('') }}"
            adapter_number: 0
            port_number: 0
          - node_id: "{{ device_map['S5224F-ONFrontView75'] | default('') }}"
            adapter_number: 0
            port_number: 0
        
    - name: Create link from N3248TE-ONFrontView88 to S5212F-ONFrontView(ACPower)72
      vars:
        device_map: "{{ gns3_nodes.json | items2dict(key_name='name', value_name='node_id') }}"
      uri:
        url: "{{ gns3_server }}/v2/projects/{{ project_id }}/links"
        method: POST
        body_format: json
        headers:
          Content-Type: application/json
        status_code: [200, 201]
        body:
          nodes:
          - node_id: "{{ device_map['N3248TE-ONFrontView88'] | default('') }}"
            adapter_number: 1
            port_number: 0
          - node_id: "{{ device_map['S5212F-ONFrontView(ACPower)72'] | default('') }}"
            adapter_number: 1
            port_number: 0
        
    - name: Create link from N3248TE-ONFrontView88 to S4128F-ONFrontView94
      vars:
        device_map: "{{ gns3_nodes.json | items2dict(key_name='name', value_name='node_id') }}"
      uri:
        url: "{{ gns3_server }}/v2/projects/{{ project_id }}/links"
        method: POST
        body_format: json
        headers:
          Content-Type: application/json
        status_code: [200, 201]
        body:
          nodes:
          - node_id: "{{ device_map['N3248TE-ONFrontView88'] | default('') }}"
            adapter_number: 2
            port_number: 0
          - node_id: "{{ device_map['S4128F-ONFrontView94'] | default('') }}"
            adapter_number: 1
            port_number: 0
        
    - name: Create link from S4128F-ONFrontView94 to S5224F-ONFrontView75
      vars:
        device_map: "{{ gns3_nodes.json | items2dict(key_name='name', value_name='node_id') }}"
      uri:
        url: "{{ gns3_server }}/v2/projects/{{ project_id }}/links"
        method: POST
        body_format: json
        headers:
          Content-Type: application/json
        status_code: [200, 201]
        body:
          nodes:
          - node_id: "{{ device_map['S4128F-ONFrontView94'] | default('') }}"
            adapter_number: 2
            port_number: 0
          - node_id: "{{ device_map['S5224F-ONFrontView75'] | default('') }}"
            adapter_number: 1
            port_number: 0
        
    - name: Create link from S5212F-ONFrontView(ACPower)72 to S5224F-ONFrontView75
      vars:
        device_map: "{{ gns3_nodes.json | items2dict(key_name='name', value_name='node_id') }}"
      uri:
        url: "{{ gns3_server }}/v2/projects/{{ project_id }}/links"
        method: POST
        body_format: json
        headers:
          Content-Type: application/json
        status_code: [200, 201]
        body:
          nodes:
          - node_id: "{{ device_map['S5212F-ONFrontView(ACPower)72'] | default('') }}"
            adapter_number: 2
            port_number: 0
          - node_id: "{{ device_map['S5224F-ONFrontView75'] | default('') }}"
            adapter_number: 2
            port_number: 0
        