---
- name: Create links in GNS3 project based on JSON file
  hosts: localhost
  gather_facts: no
  vars:
    gns3_server: "http://127.0.0.1:3080"
    project_name: "d1.drawio"
    
  tasks:
    - name: Get all projects from GNS3
      uri:
        url: "{{ gns3_server }}/v2/projects"
        method: GET
        return_content: yes
      register: gns3_projects

    - name: Set project ID based on project name
      set_fact:
        project_id: "{{ (gns3_projects.json | selectattr('name', 'equalto', project_name) | list)[0].project_id }}"
      when: gns3_projects.json | selectattr('name', 'equalto', project_name) | list | length > 0
      
    - name: Check if the project is opened
      uri:
        url: "{{ gns3_server }}/v2/projects/{{ project_id }}"
        method: GET
        return_content: yes
      register: project_status

    - name: Open the project if it is not already opened
      uri:
        url: "{{ gns3_server }}/v2/projects/{{ project_id }}/open"
        method: POST
        return_content: yes
        status_code: [200, 201]
      when: project_status.json.status != "opened"
      
    - name: Retrieve device node IDs from the GNS3 project
      uri:
        url: "{{ gns3_server }}/v2/projects/{{ project_id }}/nodes"
        method: GET
        return_content: yes
      register: gns3_nodes
    
    - name: Create link 10700 to atm_switch
      vars:
        device_map: "{{ gns3_nodes.json | items2dict(key_name='name', value_name='node_id') }}"
      uri:
        url: "{{ gns3_server }}/v2/projects/{{ project_id }}/links"
        method: POST
        body_format: json
        headers:
          Content-Type: application/json
        status_code: [200, 201]
        body:
          nodes:
          - node_id: "{{ device_map['10700'] | default('') }}"
            adapter_number: 0
            port_number: 0
          - node_id: "{{ device_map['atm_switch'] | default('') }}"
            adapter_number: 0
            port_number: 0
        
    - name: Create link 10700-3 to 10700-2
      vars:
        device_map: "{{ gns3_nodes.json | items2dict(key_name='name', value_name='node_id') }}"
      uri:
        url: "{{ gns3_server }}/v2/projects/{{ project_id }}/links"
        method: POST
        body_format: json
        headers:
          Content-Type: application/json
        status_code: [200, 201]
        body:
          nodes:
          - node_id: "{{ device_map['10700-3'] | default('') }}"
            adapter_number: 0
            port_number: 0
          - node_id: "{{ device_map['10700-2'] | default('') }}"
            adapter_number: 0
            port_number: 0
        
    - name: Create link 10700-3 to atm_switch-4
      vars:
        device_map: "{{ gns3_nodes.json | items2dict(key_name='name', value_name='node_id') }}"
      uri:
        url: "{{ gns3_server }}/v2/projects/{{ project_id }}/links"
        method: POST
        body_format: json
        headers:
          Content-Type: application/json
        status_code: [200, 201]
        body:
          nodes:
          - node_id: "{{ device_map['10700-3'] | default('') }}"
            adapter_number: 1
            port_number: 0
          - node_id: "{{ device_map['atm_switch-4'] | default('') }}"
            adapter_number: 0
            port_number: 0
        
    - name: Create link 10700-3 to 10700-4
      vars:
        device_map: "{{ gns3_nodes.json | items2dict(key_name='name', value_name='node_id') }}"
      uri:
        url: "{{ gns3_server }}/v2/projects/{{ project_id }}/links"
        method: POST
        body_format: json
        headers:
          Content-Type: application/json
        status_code: [200, 201]
        body:
          nodes:
          - node_id: "{{ device_map['10700-3'] | default('') }}"
            adapter_number: 2
            port_number: 0
          - node_id: "{{ device_map['10700-4'] | default('') }}"
            adapter_number: 0
            port_number: 0
        
    - name: Create link 10700-4 to atm_switch-2
      vars:
        device_map: "{{ gns3_nodes.json | items2dict(key_name='name', value_name='node_id') }}"
      uri:
        url: "{{ gns3_server }}/v2/projects/{{ project_id }}/links"
        method: POST
        body_format: json
        headers:
          Content-Type: application/json
        status_code: [200, 201]
        body:
          nodes:
          - node_id: "{{ device_map['10700-4'] | default('') }}"
            adapter_number: 1
            port_number: 0
          - node_id: "{{ device_map['atm_switch-2'] | default('') }}"
            adapter_number: 0
            port_number: 0
        
    - name: Create link atm_switch to pc-2
      vars:
        device_map: "{{ gns3_nodes.json | items2dict(key_name='name', value_name='node_id') }}"
      uri:
        url: "{{ gns3_server }}/v2/projects/{{ project_id }}/links"
        method: POST
        body_format: json
        headers:
          Content-Type: application/json
        status_code: [200, 201]
        body:
          nodes:
          - node_id: "{{ device_map['atm_switch'] | default('') }}"
            adapter_number: 0
            port_number: 1
          - node_id: "{{ device_map['pc-2'] | default('') }}"
            adapter_number: 0
            port_number: 0
        
    - name: Create link atm_switch to pc
      vars:
        device_map: "{{ gns3_nodes.json | items2dict(key_name='name', value_name='node_id') }}"
      uri:
        url: "{{ gns3_server }}/v2/projects/{{ project_id }}/links"
        method: POST
        body_format: json
        headers:
          Content-Type: application/json
        status_code: [200, 201]
        body:
          nodes:
          - node_id: "{{ device_map['atm_switch'] | default('') }}"
            adapter_number: 0
            port_number: 2
          - node_id: "{{ device_map['pc'] | default('') }}"
            adapter_number: 0
            port_number: 0
        
    - name: Create link atm_switch-2 to pc-8
      vars:
        device_map: "{{ gns3_nodes.json | items2dict(key_name='name', value_name='node_id') }}"
      uri:
        url: "{{ gns3_server }}/v2/projects/{{ project_id }}/links"
        method: POST
        body_format: json
        headers:
          Content-Type: application/json
        status_code: [200, 201]
        body:
          nodes:
          - node_id: "{{ device_map['atm_switch-2'] | default('') }}"
            adapter_number: 0
            port_number: 1
          - node_id: "{{ device_map['pc-8'] | default('') }}"
            adapter_number: 0
            port_number: 0
        
    - name: Create link atm_switch-2 to pc-7
      vars:
        device_map: "{{ gns3_nodes.json | items2dict(key_name='name', value_name='node_id') }}"
      uri:
        url: "{{ gns3_server }}/v2/projects/{{ project_id }}/links"
        method: POST
        body_format: json
        headers:
          Content-Type: application/json
        status_code: [200, 201]
        body:
          nodes:
          - node_id: "{{ device_map['atm_switch-2'] | default('') }}"
            adapter_number: 0
            port_number: 2
          - node_id: "{{ device_map['pc-7'] | default('') }}"
            adapter_number: 0
            port_number: 0
        
    - name: Create link atm_switch-3 to pc-6
      vars:
        device_map: "{{ gns3_nodes.json | items2dict(key_name='name', value_name='node_id') }}"
      uri:
        url: "{{ gns3_server }}/v2/projects/{{ project_id }}/links"
        method: POST
        body_format: json
        headers:
          Content-Type: application/json
        status_code: [200, 201]
        body:
          nodes:
          - node_id: "{{ device_map['atm_switch-3'] | default('') }}"
            adapter_number: 0
            port_number: 0
          - node_id: "{{ device_map['pc-6'] | default('') }}"
            adapter_number: 0
            port_number: 0
        
    - name: Create link atm_switch-4 to pc-4
      vars:
        device_map: "{{ gns3_nodes.json | items2dict(key_name='name', value_name='node_id') }}"
      uri:
        url: "{{ gns3_server }}/v2/projects/{{ project_id }}/links"
        method: POST
        body_format: json
        headers:
          Content-Type: application/json
        status_code: [200, 201]
        body:
          nodes:
          - node_id: "{{ device_map['atm_switch-4'] | default('') }}"
            adapter_number: 0
            port_number: 1
          - node_id: "{{ device_map['pc-4'] | default('') }}"
            adapter_number: 0
            port_number: 0
        
    - name: Create link 10700 to 10700-3
      vars:
        device_map: "{{ gns3_nodes.json | items2dict(key_name='name', value_name='node_id') }}"
      uri:
        url: "{{ gns3_server }}/v2/projects/{{ project_id }}/links"
        method: POST
        body_format: json
        headers:
          Content-Type: application/json
        status_code: [200, 201]
        body:
          nodes:
          - node_id: "{{ device_map['10700'] | default('') }}"
            adapter_number: 1
            port_number: 0
          - node_id: "{{ device_map['10700-3'] | default('') }}"
            adapter_number: 3
            port_number: 0
        
    - name: Create link 10700 to 10700-4
      vars:
        device_map: "{{ gns3_nodes.json | items2dict(key_name='name', value_name='node_id') }}"
      uri:
        url: "{{ gns3_server }}/v2/projects/{{ project_id }}/links"
        method: POST
        body_format: json
        headers:
          Content-Type: application/json
        status_code: [200, 201]
        body:
          nodes:
          - node_id: "{{ device_map['10700'] | default('') }}"
            adapter_number: 2
            port_number: 0
          - node_id: "{{ device_map['10700-4'] | default('') }}"
            adapter_number: 2
            port_number: 0
        
    - name: Create link 10700-4 to 10700-2
      vars:
        device_map: "{{ gns3_nodes.json | items2dict(key_name='name', value_name='node_id') }}"
      uri:
        url: "{{ gns3_server }}/v2/projects/{{ project_id }}/links"
        method: POST
        body_format: json
        headers:
          Content-Type: application/json
        status_code: [200, 201]
        body:
          nodes:
          - node_id: "{{ device_map['10700-4'] | default('') }}"
            adapter_number: 3
            port_number: 0
          - node_id: "{{ device_map['10700-2'] | default('') }}"
            adapter_number: 1
            port_number: 0
        
    - name: Create link atm_switch-4 to pc-3
      vars:
        device_map: "{{ gns3_nodes.json | items2dict(key_name='name', value_name='node_id') }}"
      uri:
        url: "{{ gns3_server }}/v2/projects/{{ project_id }}/links"
        method: POST
        body_format: json
        headers:
          Content-Type: application/json
        status_code: [200, 201]
        body:
          nodes:
          - node_id: "{{ device_map['atm_switch-4'] | default('') }}"
            adapter_number: 0
            port_number: 2
          - node_id: "{{ device_map['pc-3'] | default('') }}"
            adapter_number: 0
            port_number: 0
        
    - name: Create link 10700-2 to atm_switch-3
      vars:
        device_map: "{{ gns3_nodes.json | items2dict(key_name='name', value_name='node_id') }}"
      uri:
        url: "{{ gns3_server }}/v2/projects/{{ project_id }}/links"
        method: POST
        body_format: json
        headers:
          Content-Type: application/json
        status_code: [200, 201]
        body:
          nodes:
          - node_id: "{{ device_map['10700-2'] | default('') }}"
            adapter_number: 2
            port_number: 0
          - node_id: "{{ device_map['atm_switch-3'] | default('') }}"
            adapter_number: 0
            port_number: 1
        
    - name: Create link atm_switch-3 to pc-5
      vars:
        device_map: "{{ gns3_nodes.json | items2dict(key_name='name', value_name='node_id') }}"
      uri:
        url: "{{ gns3_server }}/v2/projects/{{ project_id }}/links"
        method: POST
        body_format: json
        headers:
          Content-Type: application/json
        status_code: [200, 201]
        body:
          nodes:
          - node_id: "{{ device_map['atm_switch-3'] | default('') }}"
            adapter_number: 0
            port_number: 2
          - node_id: "{{ device_map['pc-5'] | default('') }}"
            adapter_number: 0
            port_number: 0
        